# Ignorera byggfiler och binära filer
/build/
*.o
*.out
*.exe
*.bin
*.log

# Ignorera CMake-cache och konfigurationsfiler
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Ignorera systemfiler
.DS_Store

